*{
   background-color: burlywood;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: o;
    padding: 0;
}
.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav li{
    float: left;
}

.nav li a{
    padding: 15px 20px;
    font-weight: 700;
    text-decoration: none;
    color: blue;
}
.nav li a:hover{
    color: white;
}

.judul{
    display: flex;
}
.judul img{
    border-radius: 5%;
    margin-top: 20px;
}
.berita1{
padding-top: 0;
 margin-left: 20px;  
    
}

.p1{
    margin-left: 25px;
    margin-top: 0px;
}

footer a{
    color: blue;
    text-decoration: none;
}

footer a:hover{
    color: white;
}

.foto1{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.judul1{
    text-align: center;
}
.foto2{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.judul2{
    text-align: center;
}
